				@font-face {
					font-family: 'old-london';
					src: url('2641Old-London.woff2') format('woff2'),
						url('2641Old-London.woff') format('woff');
					font-weight: 100; font-style: normal; font-display: auto;
				}

				.old-london{font-family: 'old-london' !important;}

		